<br/>
<br/>
<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <%= image_tag('andela.jpg') %>
        </div>
        <div class="content">
          <div class="header">Andela</div>
          <div class="meta">
            <a>Uganda | Kenya | Nigeria | Rwanda</a>
          </div>
          <div class="description">
            
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
            75 Friends
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <%= image_tag('dev_circles.png') %>
        </div>
        <div class="content">
          <div class="header">Facebook</div>
          <div class="meta">
            <span class="date">Developer Circles</span>
          </div>
          <div class="description">

          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2011
          </span>
          <span>
            <i class="user icon"></i>
            35 Friends
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <%= image_tag('hashicorp.png') %>
        </div>
        <div class="content">
          <div class="header">Hashicorp</div>
          <div class="meta">
            <a>Terraform | Parker | Consul | Vault</a>
          </div>
          <div class="description">

          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2014
          </span>
          <span>
            <i class="user icon"></i>
            151 Friends
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <%= image_tag('hug.png') %>
        </div>
        <div class="content">
          <div class="header">Kampala HUG</div>
          <div class="meta">
            <a>Hashicorp User Group</a>
          </div>
          <div class="description">

          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2014
          </span>
          <span>
            <i class="user icon"></i>
            151 Friends
          </span>
        </div>
      </div>
    </div>
  </div>
</div>